cuda
env
.venv
__pycache__
models
models_test
aves-base-bio.torchaudio.pt
aves-base-bio.pt
media
results
results_acoustic

call_predictions_labeled_abundance.csv
predictions.csv
KAM
processed
map
.DS_Store

ESP
data

pipeline_outputs

run_meg.ipynb
meg_runs

.env

snippets_to_analyse

sites_results
sites_results_qat
sites_results_x_val
sites_results_binary
overlaps_results
model_sizes
more_heads_outputs

images
final_results

quant_models
quantization_results

overlap_outputs

map_generation